@use 'variables';
@use 'mixins';

/* Estilos del header */
header {
    @include mixins.grid(1fr, 1fr 1fr); /* Usamos grid con 1 columna y 2 filas */
    background-color: variables.$color-principal;
    justify-items: center;
    padding-top: 30px;
}

/* Estilos del título en el header */
header h1 {
    font-family: variables.$familia-fuente-principal;
    font-size: variables.$tamano-fuente-grande;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: variables.$color-texto-principal;
}

/* Estilos de la barra de navegación */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre los enlaces */
    padding: 10px 0; /* Padding para darle espacio alrededor */
}

/* Estilo para los enlaces del navbar */
header nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

/* Efecto hover para los enlaces */
header nav a:hover {
    color: variables.$color-secundario; /* Cambiar color al pasar el mouse */
}
