// Variables de colores
$color-principal: #690201;
$color-secundario: #f3d83c;
$color-texto-principal: antiquewhite;
$color-texto-secundario: #333;
$color-texto-terciario: #666;
$color-fondo: black;
$color-fondo-secundario: white;

// Variables de tipografía
$familia-fuente-principal: 'Cormorant Garamond', serif;
$familia-fuente-secundaria: 'Monomaniac One', sans-serif;
$tamano-fuente-base: 16px;
$tamano-fuente-grande: 50px;
$tamano-fuente-mediana: 2rem;
$tamano-fuente-pequena: 1rem;

// Otros valores útiles
$radio-borde: 8px;
$sombra-caja: 0 4px 8px rgba(0, 0, 0, 0.1);
